<html>
  <!-- banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://res.cloudinary.com/dd8gqkm50/image/upload/v1587470187/BirdThree/2A8EC313-DA39-473A-A9F9-90B99EB85AF6_yut1wr.png);">
    <div class="container">
      <h1>BIRD THREE</h1>
      <!-- <p>August 2020</p> -->
      <!-- <a class="btn btn-flat" href="#">Learn More</a> -->
    </div>
  </div>
</div>
</html>